section.server-info.container(id="ajaxApp")
	.row
		.col-md-12
			.advantages__server-offline.advantages__item
				p.server-info__server-offline--description Полученние данных с сервера.

section.advantages.container
	.row.justify-content-center
		+advantages_server(
			'./img/features/sword.png',
			`
				<h3>Классические классы</h3>
 				<p>Стандартная система классов, но с доработкой неиграбельных связок</p>
			`
		)

		+advantages_server(
			'./img/features/relationships.png',
			`
				<h3>Отношения и башни гильдии</h3>
				<p>Изменения:</p>
				<ul>
					<li>Бафы с отношений и башен гильдии стали сильнее </li>
					<li>Прокачка отношений стала быстрее</li>
				</ul>
			`
		)

		+advantages_server(
			'./img/features/armor.png',
			`
				<h3>Улучшение вещей</h3>
				<p>В будущем можно будет улучшать вещи с подземелий придавая им особые свойства!</p>
			`
		)

		+advantages_server(
			'./img/features/gift.png',
			`
				<h3>Ежедневные подарки</h3>

				<p>
				1 день - зелье таланта 70%<br>
				2 день - глубокий вздох ангела<br>
				3 день - 10 зарядов для магического преобразователя<br>
				4 день - очищенный чистый камень<br>
				5 день - 5 камней улучшения для брони<br>
				6 день - 5 камней улучшения для бижутерии<br>
				7 день - 3 камня улучшения для оружия
				</p>
			`
		)

		+advantages_server(
			'./img/features/card.png',
			`
				<h3>Карты монстров</h3>
				<p>Изменения:</p>
				<ul>
					<li>Добавлены новые карты монстров</li>
					<li>Увеличен шанс выпадения карт</li>
					<li>Уникальные карты привязаны</li>
					<li>Добавлена продажа карт НПС</li>
				</ul>

				<p>Собери полную колоду карт и получи уникальный титул "Хранитель знаний"</p>
			`
		)

		+advantages_server(
			'./img/features/diamond.png',
			`
				<h3>Получение алмазов</h3>
				<p>Алмазы можно добывать:</p>
				<ul>
					<li>В подземельях 50+ с последних боссов</li>
					<li>С ивента "Алмазная лихорадка"</li>
					<li>Обменом золота на алмазы</li>
					<li>Посещением ивентов</li>
					<li>За получение последних титулов локаций</li>
					<li>За конкурсы</li>
				</ul>
			`
		)
