section.server-info.container(id="ajaxApp")
	.row
		.col-md-12
			.advantages__server-offline.advantages__item
				p.server-info__server-offline--description Полученние данных с сервера.

section.advantages.container
	.row.justify-content-center
		+advantages_server(
			'./img/features/diamond.png',
			'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae vitae saepe voluptatum ipsum magni adipisci laudantium vel, dolore fuga consectetur praesentium est ab perspiciatis, dicta tempore. Mollitia quae recusandae totam?'
		)

		+advantages_server(
			'./img/features/diamond.png',
			'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem cupiditate, libero tenetur aliquam ipsum recusandae consequuntur eius illo inventore iusto quisquam tempora earum quam atque placeat aut, impedit itaque pariatur, eos dolorem. Deleniti a officiis maxime iste dolores praesentium quas veniam necessitatibus natus, cum deserunt animi voluptates impedit porro sapiente!'
		)

		+advantages_server(
			'./img/features/diamond.png',
			'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas doloribus quia, optio natus ut cupiditate.'
		)
