section.server-info.container(id="ajaxApp")
	.row
		.col-md-12
			.advantages__server-offline.advantages__item
				p.server-info__server-offline--description Полученние данных с сервера.

section.advantages.container
	.row.justify-content-center
		+advantages_server(
			'./img/features/sword.png',
			`
				<h3>Классические классы</h3>
 				<p>Стандартная система классов, но с доработкой неиграбельных связок</p>
			`
		)

		+advantages_server(
			'./img/features/card.png',
			`
				<h3>Карты монстров</h3>
				<p>Изменения:</p>
				<ul>
					<li>Добавлены новые карты монстров</li>
					<li>Увеличен шанс выпадения карт</li>
				</ul>
			`
		)

		+advantages_server(
			'./img/features/armor.png',
			`
				<h3>Улучшение вещей</h3>
				<p>В будущем можно будет улучшать вещи с подземелий придавая им особые свойства!</p>
			`
		)

		+advantages_server(
			'./img/features/gift.png',
			`
				<h3>Ежедневные подарки</h3>

				<p>
				1 день - Глубокий вздох ангела х1</br>
				2 день - Золотой молоток х1</br>
				3 день - Купон ежедневного задания х1</br>
				4 день - Заряд для магического преобразователя х10</br>
				5 день - Очищенный чистый камень х1</br>
				6 день - Камень Извлечения х1</br>
				7 день - Общий золотой молоток х1
				</p>
			`
		)

		+advantages_server(
			'./img/features/relationships.png',
			`
				<h3>Отношения и башни гильдии</h3>
				<p>Изменения:</p>
				<ul>
					<li>Бафы с отношений и башен гильдии стали сильнее </li>
					<li>Прокачка отношений стала быстрее</li>
				</ul>
			`
		)

		+advantages_server(
			'./img/features/diamond.png',
			`
				<h3>Получение алмазов</h3>
				<p>Алмазы можно добывать:</p>
				<ul>
					<li>В подземельях 50+ с последних боссов</li>
					<li>С ивента "Алмазная лихорадка"</li>
					<li>Обменом золота на алмазы</li>
					<li>За получение последних титулов локаций</li>
					<li>За конкурсы</li>
					<li>И другое</li>
				</ul>
			`
		)
