include ./mixins

-
	var showUpdatesBlock = false;

	var download_game_buttons = [
		{link: '//drive.google.com/open?id=1W8vMSs-xKE58XylOrMxlKxIUOU58Cdf4', image: './img/icons/drive.png', blank: true},
		{link: 'magnet:?xt=urn:btih:e72c40f692b330ed7328e9c09d787cd69918f2d5&dn=Magic%20of%20Gods&tr=udp%3a%2f%2fmgtracker.org%3a2710%2fannounce&tr=http%3a%2f%2fmgtracker.org%3a2710%2fannounce&tr=udp%3a%2f%2ftracker.6ahddutb1ucc3cp.ru%3a6969%2fannounce&tr=udp%3a%2f%2ftracker.leechers-paradise.org%3a6969&tr=udp%3a%2f%2fexplodie.org%3a6969%2fannounce&tr=udp%3a%2f%2f5.79.83.193%3a6969%2fannounce&tr=udp%3a%2f%2f62.138.0.158%3a6969%2fannounce&tr=udp%3a%2f%2f9.rarbg.to%3a2730%2fannounce&tr=udp%3a%2f%2fp4p.arenabg.com%3a1337%2fannounce&tr=udp%3a%2f%2f6ahddutb1ucc3cp.ru%3a2710%2fannounce&tr=udp%3a%2f%2f9.rarbg.me%3a2780%2fannounce&tr=udp%3a%2f%2f9.rarbg.me%3a2720%2fannounce&tr=http%3a%2f%2ftracker.6ahddutb1ucc3cp.ru%3a6969%2fannounce&tr=udp%3a%2f%2ftracker.opentrackr.org%3a1337%2fannounce&tr=udp%3a%2f%2fopentor.org%3a2710&tr=udp%3a%2f%2f9.rarbg.me%3a2710%2fannounce&tr=udp%3a%2f%2ftracker.zer0day.to%3a1337%2fannounce&tr=udp%3a%2f%2ftracker.vanitycore.co%3a6969%2fannounce&tr=udp%3a%2f%2f151.80.120.114%3a2710%2fannounce&tr=http%3a%2f%2ftorrentsmd.com%3a8080%2fannounce&tr=udp%3a%2f%2ftracker.coppersurfer.tk%3a6969&tr=udp%3a%2f%2f9.rarbg.com%3a2710%2fannounce&tr=udp%3a%2f%2f182.176.139.129%3a6969%2fannounce&tr=http%3a%2f%2fretracker.local%2fannounce&tr=http%3a%2f%2ftracker.mg64.net%3a6881%2fannounce&tr=udp%3a%2f%2fp4p.arenabg.com%3a1337%2fannounce&tr=udp%3a%2f%2ftracker.coppersurfer.tk%3a6969&tr=http%3a%2f%2ftracker.opentrackr.org%3a1337%2fannounce&tr=udp%3a%2f%2f9.rarbg.com%3a2790%2fannounce&tr=udp%3a%2f%2f9.rarbg.me%3a2780%2fannounce&tr=http%3a%2f%2f6ahddutb1ucc3cp.ru%3a2710%2fannounce&tr=udp%3a%2f%2ftracker.tiny-vps.com%3a6969%2fannounce', image: './img/icons/magnet.png'},
		{link: '//magicofgods.ru/Magic_of_Gods.torrent', image: './img/icons/u-torrent-logo.png'}
	];

	var download_update_buttons = [
		{link: '#', image: './img/icons/drive.png', blank: true},
		{link: '#', image: './img/icons/magnet.png'},
		{link: '#', image: './img/icons/u-torrent-logo.png'}
	]

section.download
	.container
		.row.justify-content-center
			div(class=showUpdatesBlock ? "col-md-4":"col-md-6")
				.download__block
					.download__block--container
						h3.download__block--heading Скачать клиент
						+download_buttons(download_game_buttons)

			div(class=showUpdatesBlock ? "col-md-4":"col-md-6")
				.download__block.registration__block
					.download__block--container.registration__block--container
						h3.download__block--heading.registration__block--heading #[a(href="//forum.magicofgods.ru/index.php?register/", target="_blank") Регистрация]

			if showUpdatesBlock
				.col-md-4
					.download__block
						.download__block--container
							h3.download__block--heading Обновление
							+download_buttons(download_update_buttons)
