section.footer
	.container
		.row
			.col-12
				.footer__description
					p Magic of gods © 2018 Бесплатный русский приватный сервер игры Runes Of Magic (Руны Магии)
					p Сервер предоставляется лишь в качестве ознакомительного и является неофициальным.
