-
	var serverBirthday = "26/05/2018";

section.server
	.container
		.row
			.col-12
				article.server__block
					.server__block--container
						p(data-server-birthday=serverBirthday).server__block--start-date Сервер работает!
