section.vk-group
	.container
		.row.align-items-center.justify-content-center
			.vk-group__info.col-xl-6
				h2.vk-group__info--heading Lorem ipsum dolor.
				.vk-group__info--description
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est iure facilis veritatis quisquam ab veniam culpa voluptatum necessitatibus, quas fuga, sit! A quae libero blanditiis unde numquam exercitationem animi aperiam.
			.vk-group__box.col-xl-4.ml-auto
				#vk_groups
