section.vk-group
	.container
		.row.align-items-center.justify-content-center
			.vk-group__info.col-xl-6
				h2.vk-group__info--heading Следи за новостями сервера!
				.vk-group__info--description
					p В группе публикуются самые последние изменения о сервере. Описание обновлений, изменений, нововведений и конкурсов. Успей первым увидеть все самое новое!
			.vk-group__box.col-xl-4.ml-auto
				#vk_groups
