.main-wrapper
    a(href="https://donate.magicofgods.ru/" target="_blank").donate-link
        +add-image({src: "img/diamond.svg"})
    .main-contaienr
        .main-gallery.js-init--main-gallery
            .container.main-gallery-item-container
                .row.main-gallery-item.align-items-center
                    .col-lg-5.order-1.order-lg-0
                            h2.main-gallery-item-header(data-i18n="Мировые боссы!") Мировые боссы!
                            .main-gallery-item-description(data-i18n="мировые боссы desc") Ходите на них с 75 уровня каждый день в 19:00 по мск. и получайте плюшки
                            a(href="#howtoplay" data-i18n="Начать игру").main-gallery-item-play Начать игру

                    .main-gallery-item-photo-container.col-lg-7.col-12
                        .main-gallery-item-photo.main-gallery-item-photo--1
                            +add-image({src: "static/image-1.png"})

            .container.main-gallery-item-container
                .row.main-gallery-item.align-items-center
                    .col-lg-5.order-1.order-lg-0
                            h2.main-gallery-item-header(data-i18n="Алмазы за ивенты!") Алмазы за ивенты!
                            .main-gallery-item-description(data-i18n="Выполняйте ивенты на мосту Варанаса и зарабатывайте алмазы") Выполняйте ивенты на мосту Варанаса и зарабатывайте алмазы
                            a(href="#howtoplay" data-i18n="Начать игру").main-gallery-item-play Начать игру

                    .main-gallery-item-photo-container.col-lg-7.col-12
                        .main-gallery-item-photo.main-gallery-item-photo--2
                            +add-image({src: "static/image-2.png"})

            .container.main-gallery-item-container
                .row.main-gallery-item.align-items-center
                    .col-lg-5.order-1.order-lg-0
                        h2.main-gallery-item-header(data-i18n="Ежедневные подарки!") Ежедневные подарки!
                        .main-gallery-item-description(data-i18n="Ежедневно проводите 1 час в игре и получайте за это подарки!") Ежедневно проводите 1 час в игре и получайте за это подарки!
                        a(href="#howtoplay" data-i18n="Начать игру").main-gallery-item-play Начать игру

                    .main-gallery-item-photo-container.col-lg-7.col-12
                        .main-gallery-item-photo.main-gallery-item-photo--3
                            +add-image({src: "static/image-3.png"})

            .container.main-gallery-item-container
                .row.main-gallery-item.align-items-center
                    .col-lg-5.order-1.order-lg-0
                        h2.main-gallery-item-header(data-i18n="Уникальные ивенты!") Уникальные ивенты!
                        .main-gallery-item-description(data-i18n="Уникальные ивенты desc") Уникальные ивенты сервера: Алмазная лихорадка, Печать стихий и многие другие!
                        a(href="#howtoplay" data-i18n="Начать игру").main-gallery-item-play Начать игру

                    .main-gallery-item-photo-container.col-lg-7.col-12
                        .main-gallery-item-photo.main-gallery-item-photo--4
                            +add-image({src: "static/image-4.png"})

