.news-wrapper
    .container.news-container
        .row.align-items-center
            .col-md-7
                .news-header Следи за новостями сервера!
                .news-description В группе публикуются самые последние изменения о сервере. Описание обновлений, изменений, нововведений и конкурсов. Успей первым увидеть все самое новое!

            .col-md-4.ml-auto.mt-4.mt-md-0
                #vk-news
