extends ./pug/base_template

block variables
    -
        var opts = {
            page: "- классический сервер"
        }

block content
    include home/main
    include home/stats
    include home/howtoplay
    include home/features
    include home/news
    #vk_community_messages
