.container
    .row.align-items-center
        .col-md-6
            .footer-disclaimer
                span.
                    Magic of gods © 2019 Бесплатный русский приватный сервер игры Runes Of Magic (Руны Магии) #[br]
                    Сервер предоставляется лишь в качестве ознакомительного и является неофициальным.

        .col-md-1.ml-auto
            .logo-wrapper
                a(href="#header").logo-link
                    +add-svg({class: "logo logo--footer", icon: "logo"})
