.header-wrapper.js-init--header
    .container.header-container
        .row.align-items-center
            .col-6.col-md-1
                a(href="#header").logo-link
                    +add-svg({class: "logo logo--header", icon: "logo"})

            .col-6.col-md-7.ml-auto
                nav.nav#main-nav
                    ul.nav-list
                        li
                            a(href="https://magicofgods.ru/") Новости
                        li
                            a(href="#howtoplay") Скачать
                        li
                            a(href="#features") Преимущества
                        li
                            a(href="https://forum.magicofgods.ru/index.php?threads/%D0%A0%D0%B5%D1%84%D0%B5%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D0%B0%D1%8F-%D1%81%D0%B8%D1%81%D1%82%D0%B5%D0%BC%D0%B0.9/") Реферальная система
                        li
                            a(href="https://vk.com/magicofgods") Мы в ВК

