.header-wrapper.js-init--header
    .container.header-container
        .row.align-items-center.header-row
            .col-6.col-md-1
                .logo-wrapper
                    a(href="#header").logo-link
                        +add-svg({class: "logo logo--header", icon: "logo"})

            .col-6.col-md-8.ml-auto.nav-container.d-flex.justify-content-end.align-items-center
                nav.nav#main-nav
                    ul.nav-list
                        li
                            a(href="https://magicofgods.ru/" data-i18n='Новости') Новости
                        li
                            a(href="#howtoplay" data-i18n="Скачать") Скачать
                        li
                            a(href="#features" data-i18n="Преимущества") Преимущества
                        li
                            a(href="https://forum.magicofgods.ru/index.php?threads/%D0%A0%D0%B5%D1%84%D0%B5%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D0%B0%D1%8F-%D1%81%D0%B8%D1%81%D1%82%D0%B5%D0%BC%D0%B0.9/" data-i18n="Реферальная система") Реферальная система
                        li
                            a(href="https://vk.com/magicofgods" data-i18n="Мы в ВК") Мы в ВК

                .language-switcher-container.ml-4
                    select.language-switcher.js-init--language-switcher
                        option(value="ru") Русский
                        option(value="en") English
